.align-text {
    text-align: center;
    margin-top: 15px;
    color: white;
}

.footer-bg {
    background: #343A40;
    height: auto;
}

.card-styled {
    width: 200px;
    height: 300px;
}

.row-modified {
    justify-content: space-between;
}

.col {
    flex-grow: 0!important;
    margin-bottom: 30px;
}